* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header button {
  padding: .5rem;
  max-height: 4rem;
  max-width: 7rem;
  border-radius: 20px;
  background: radial-gradient(white, grey);
  border: none;
  border-top: 2px solid  white;
  border-right: 2px solid white;
  -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.8), inset -2px -2px 5px rgba(0, 0, 0, 0.8);
          box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.8), inset -2px -2px 5px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

hr {
  color: #f25c19;
  width: 50%;
  margin-left: 25%;
  margin-top: 10px;
  height: 5px;
  background-color: #f25c19;
  border-radius: 5px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header button {
  padding: .5rem;
  max-height: 4rem;
  max-width: 7rem;
  border-radius: 20px;
  background: radial-gradient(white, grey);
  border: none;
  border-top: 2px solid  white;
  border-right: 2px solid white;
  -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.8), inset -2px -2px 5px rgba(0, 0, 0, 0.8);
          box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.8), inset -2px -2px 5px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

hr {
  color: #f25c19;
  width: 50%;
  margin-left: 25%;
  margin-top: 10px;
  height: 5px;
  background-color: #f25c19;
  border-radius: 5px;
}

footer {
  background-color: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-top: 20px;
}

footer img {
  width: 30%;
}

footer p {
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  margin: 15px 30px 0 30px;
}

footer .logo-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .logo-footer img {
  width: 10%;
  margin-top: 15px;
}

footer .news p {
  text-align: center;
}

footer .news input {
  font-family: 'Poppins', sans-serif;
  border-radius: 15px;
  border: solid 2px black;
  text-align: center;
  height: 35px;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer button {
  font-family: 'Poppins', sans-serif;
  background: #6a6665;
  background: -webkit-gradient(linear, left top, right top, color-stop(26%, rgba(106, 102, 101, 0.7)), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(90deg, rgba(106, 102, 101, 0.7) 26%, rgba(0, 0, 0, 0.1) 100%);
  border: solid 1px black;
  width: 50%;
  height: 40px;
  border-radius: 30px;
  margin-bottom: 40px;
}

footer .lien {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

footer .lien a {
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  color: black;
  margin-bottom: 10px;
  text-decoration: none;
}

@media screen and (min-width: 740px) {
  footer img {
    width: 20%;
  }
  footer p {
    font-size: 1rem;
  }
  footer .contenu .logo-footer {
    margin: auto;
  }
  footer .news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .news input {
    height: 40px;
    width: 100%;
    border-radius: 50px;
  }
  footer .news button {
    width: 50%;
  }
  footer a {
    margin-bottom: 25px;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: auto;
  }
  footer .contenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }
  footer .contenu .logo {
    width: 20%;
  }
  footer .contenu .logo .logo-f {
    width: 100%;
  }
  footer .news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
    gap: 20px;
  }
  footer .news .input {
    width: 70%;
  }
  footer .news .button {
    width: 40%;
  }
  footer .lien {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
  }
  footer .lien a {
    padding-top: 20px;
    font-size: 1rem;
  }
  footer .logo-footer img {
    width: 6%;
    padding-bottom: 30px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header button {
  padding: .5rem;
  max-height: 4rem;
  max-width: 7rem;
  border-radius: 20px;
  background: radial-gradient(white, grey);
  border: none;
  border-top: 2px solid  white;
  border-right: 2px solid white;
  -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.8), inset -2px -2px 5px rgba(0, 0, 0, 0.8);
          box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.8), inset -2px -2px 5px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

hr {
  color: #f25c19;
  width: 50%;
  margin-left: 25%;
  margin-top: 10px;
  height: 5px;
  background-color: #f25c19;
  border-radius: 5px;
}

header {
  background-color: black;
  padding: .7rem;
}

header .logo {
  max-width: 4rem;
}

@media (min-width: 1200px) {
  header .logo {
    margin: 5%;
    max-width: 6.5rem;
  }
}

header .burger {
  max-width: 3rem;
}

@media (min-width: 1200px) {
  header .burger {
    display: none;
  }
}

header .card_head {
  display: none;
}

@media (min-width: 1200px) {
  header .card_head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .menus {
    margin-bottom: 1rem;
  }
  .menus a {
    color: white;
    margin-right: 2rem;
    font-size: 1.5rem;
    text-decoration: none;
    border-bottom: #f25c19 solid 2px;
    border-radius: 2px;
  }
}

body {
  min-height: 100vh;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 15px;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}

h2 {
  margin: 20px;
}

p {
  margin: 15px;
}

ul {
  margin-left: 3.5rem;
}

ul li {
  padding-bottom: 10px;
}
/*# sourceMappingURL=mentions.css.map */