header {
  background-color: #F5F5F5;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .7rem;
  min-height: 8vh;
}

@media (min-width: 1300px) {
  header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-column-gap: 5%;
            column-gap: 5%;
  }
}

@media (min-width: 1600px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 10%;
            column-gap: 10%;
  }
}

@media (min-width: 1300px) {
  header a {
    margin-right: 5%;
  }
}

header a .logo {
  max-width: 4rem;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

@media (min-width: 760px) {
  header a .logo {
    max-width: 7rem;
  }
}

@media (min-width: 1300px) {
  header a .logo {
    max-width: 8rem;
  }
}

@media (min-width: 1600px) {
  header a .logo {
    max-width: 9rem;
  }
}

header .don_asso {
  text-decoration: none;
  color: black;
  background: -webkit-gradient(linear, left top, right top, color-stop(26%, rgba(106, 102, 101, 0.7)), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(90deg, rgba(106, 102, 101, 0.7) 26%, rgba(0, 0, 0, 0.1) 100%);
  border: solid 1px black;
  border-radius: 15px;
  font-size: 1rem;
  max-width: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 9px;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
}

header .don_asso:hover {
  background-color: #00AF04;
  -webkit-transition: .5 ease-in-out;
  transition: .5 ease-in-out;
}

@media (min-width: 760px) {
  header .don_asso {
    font-size: 1.3rem;
  }
}

@media (min-width: 1300px) {
  header .don_asso {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-right: 0;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
}

@media (min-with: 1300px) {
  header .txt_head {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
  }
}

@media (min-width: 1300px) {
  header .txt_head .card_head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 3rem;
  }
}

header .txt_head .card_head .menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 8vh;
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  right: 0;
  left: 0;
  background-color: #F5F5F5;
  display: none;
}

@media (min-width: 760px) {
  header .txt_head .card_head .menus {
    top: 11vh;
  }
}

@media (min-width: 1300px) {
  header .txt_head .card_head .menus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    position: initial;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: initial;
    transition: initial;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

header .txt_head .card_head .menus li {
  list-style: none;
}

header .txt_head .card_head .menus li a {
  text-decoration: none;
  color: black;
  line-height: 8rem;
  letter-spacing: 4px;
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: 1300px) {
  header .txt_head .card_head .menus li a {
    margin-right: 3rem;
    color: black;
    text-decoration: none;
    font-size: .8rem;
    line-height: normal;
    letter-spacing: normal;
  }
}

@media (min-width: 1300px) {
  header .txt_head .card_head .menus li a:hover {
    background-color: #00AF04;
  }
}

@media (min-width: 1600px) {
  header .txt_head .card_head .menus li a {
    font-size: 1rem;
    padding-left: 12px;
  }
}

.burger {
  width: 45px;
  height: 45px;
  border-radius: 3px;
  border: none;
  background: transparent;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 3;
  position: relative;
}

@media (min-width: 1300px) {
  .burger {
    display: none;
  }
}

.burger span {
  width: 100%;
  height: 4px;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.burger span::after, .burger span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: black;
  right: 0;
}

.burger span::before {
  -webkit-transform: translateY(14px);
          transform: translateY(14px);
}

.burger span::after {
  -webkit-transform: translateY(-14px);
          transform: translateY(-14px);
}

.show-nav .txt_head .card_head .menus {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show-nav .burger span {
  background-color: transparent;
}

.show-nav .burger span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.show-nav .burger span::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/*# sourceMappingURL=navbar.css.map */