$blue:#0076bc;
$green:#68af21;
$brown:#f25c19;
$black: rgba(0, 0, 0, .8);
$blue-border:2px solid $blue;
$green-border:2px solid $green;
$mt:15px;
$fontH1:'Roboto Slab', serif;
$fontSite: 'Poppins', sans-serif