@import "variables";
@import "extends";
@import "mixins";
@import "navbar";
@import "footer";
@import "modal";
@import "pagination";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    @extend %body;
}

.titre {
    @extend %title;

    @media (min-width: 760px) {
        grid-row: 1;
        grid-column: 1 / 3;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 50px;
    }

    @media (min-width: 1300px) {
        font-size: 76px;
        grid-column: 1 / 4;
    }
}

h1 {
    font-family: 'Roboto Slab', serif;
}

span,
p,
figcaption,
a {
    font-family: 'Poppins', sans-serif;
}

button {
    font-weight: bold;
}

main {
    
    color: #F5F5F5;

    // margin: auto;
    // @media (min-width: 760px) {
    //    width: 65%;
      
    // }
    // @media (min-width: 760px) {
    //     width: 75%;
       
    //  }

        .articles {
            display: grid;
            gap: 30px;
            margin: auto;
            width: 65%;
            @media (min-width:756px) {
                grid-template-columns: repeat(2, 1fr);
                width: 95%;
            }

            @media (min-width:1124px) {
                grid-template-columns: repeat(3, 1fr);
                width: 90%;
            }

            //     .case1 {
            //         grid-column: 1;
            //         grid-row: 2;
            //     }

            //     .case2 {
            //         grid-column: 2;
            //         grid-row: 2;
            //     }

            //     .case3 {
            //         grid-column: 1;
            //         grid-row: 3;
            //     }

            //     .case4 {
            //         grid-column: 2;
            //         grid-row: 3;
            //     }

            //     .case5 {
            //         grid-column: 1;
            //         grid-row: 4;
            //     }

            //     .case6 {
            //         grid-column: 2;
            //         grid-row: 4;
            //     }
            // }

            // @media (min-width: 1300px) {
            //     grid-template-columns: 1fr 1fr 1fr;
            //     column-gap: 5%;
            //     max-width: 85%;
            //     margin: auto;

            //     .case1 {
            //         grid-column: 1;
            //         grid-row: 2;
            //     }

            //     .case2 {
            //         grid-column: 2;
            //         grid-row: 2;
            //     }

            //     .case3 {
            //         grid-column: 3;
            //         grid-row: 2;
            //     }

            //     .case4 {
            //         grid-column: 1;
            //         grid-row: 3;
            //         margin-bottom: 15%;
            //     }

            //     .case5 {
            //         grid-column: 2;
            //         grid-row: 3;
            //         margin-bottom: 15%;
            //     }

            //     .case6 {
            //         grid-column: 3;
            //         grid-row: 3;
            //         margin-bottom: 15%;
            //     }
            // }

            article {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                flex-direction: column;
                box-shadow: inset 5px 5px 10px #F5F5F5, inset -5px -5px 10px #F5F5F5;
                padding: 5%;
                margin-bottom: 10%;

                h2 {
                    text-align: center;
                    margin-bottom:1.5rem;
                }
                iframe{
                    margin-bottom: 1.9rem;
                }

                
            }
        }


    }